<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
    <div align="center">
<div class="alert alert-success">
    <strong>Agrega tu producto a la lista</strong>
</div>
<div class="container">
    <h5>Agregar o editar</h5>
    <form action="#" th:action="@{/compra/addEdit}" method="post" th:object="${compra}">
        Descripción:<br/>
        <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" placeholder="descripcion"/>
        <br/>
        Cantidad:<br/>
       <input type="text" class="form-control" id="cantidad" th:field="*{cantidad}" placeholder="cantidad"/>
       <br/>
       Estado:<br/>
       <input type="text" class="form-control" id="estado" th:field="*{estado}" placeholder="estado"/>
        <br/>
       <!-- Precio:<br/>
        <input type="text" class="form-control" id="precio" th:field="*{precio}" th:value="${producto.id_Precio}" th:text="${producto.precio}" />&ndash;&gt;-->
        <input type="hidden" id="idCompra" th:field="*{idCompra}">
        <br/>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
</div>
</body>
</html>